/*theme for liteCMS*/

/*@import url('bootstrap.min.css');*/

:root{
	--dark_blue_1:#050445;
	--dark_blue_2:;
	--dark_blue_3:#a9a8ff;
	--light_blue_1:#ebf4ff;
	--light_blue_2:;
	--light_blue_3:;
}

.top-item{
	padding:10px;
	color:black;
	background-position:top left;
	background-repeat:no-repeat;
	background-size:contain;
	padding-left:40px;
	text-decoration:none;
}

body{
	margin:0;
	padding:0;
}

html{
	font-family:'tw cen mt', sans-serif;
	font-size:15px;
}

input{
	width:100%;
	margin-bottom:5%;
	line-height:30px;
	border:2px solid blue;
	outline:none;
}

.post-title{
	font-family:serif;
	font-size:2.15rem;
	outline:none;
	border:none;
}

.main-row div.box h3{
	display:inline;
}

.main-row{
	display:block;
}

.main-row div{
	color: var(--dark_blue_1);
	padding:15px;
	margin-bottom:2%;
	background-color: var(--light_blue_1);
}

.new-post{
	border:2px solid lightgrey;
	padding:10px;
	width:90%;
	margin:0 auto;
}

.main-row div:nth-of-type(1){
	border:0;
	margin-bottom:5px;
	background:none;
}

.info-row, .main-row{
	padding:20px;
	padding-top:15px;
	width:80%;
	margin: 0 auto;
}

.main-row{
	border:2px solid var(--dark_blue_3);
	min-height:600px;
}

.d_top p{
	margin-top:0;
}

.d_top:nth-of-type(3) img{
	padding-top:13px;
}

.info-row{
	display:flex;
}

.info-row div{
	margin:5px;
	flex: 1 100px;
	padding-top:10px;
}

#nav1{
	background-color:var(--dark_blue_3);
}

#post_count, #users_count, #other_count{
	height:100px;
	background-color:var(--dark_blue_1);
	color:white;
}


.addBlue{
	background-color:var(--dark_blue_1) !important;
	color:white !important;

}

.container{
	margin:0;
	padding:0;
}

.brand{
	font-weight:bold;
	font-size:2rem;
}

.sidebar{
	width:15%;
	position:fixed;
	z-index:100;
	background-color:white;
}

.sidebar ul{
	list-style-type:none;
	display:inline-block;
	margin:0;
	padding:0;
	width:100%;
}

.sidebar ul li{
	background-color:var(--light_blue_1);
	padding:15px;
	margin-bottom: 5px;

}

.sidebar ul li:hover{
	cursor:pointer;
}

.main-set-form-div{
	width:35%;
	padding:15px;
}

.text-right{
	text-align:right;
}

.text-center{
	text-align:center;
}

.btn{
	background-color:transparent;
	border:5px solid var(--light_blue_1);
	width:7vw;
	cursor:pointer;
	padding:5px 3px;
	outline:none;
	border-radius: 15px;
}

.btn:active{
	background-color:var(--light_blue_1);
	color:var(--dark_blue_1);
}

.btn-light{
	color:var(--light_blue_1);
}

.btn-dark{
	background-color:var(--dark_blue_1);
	color:white;
}

#head, #foot{
	background-color:var(--dark_blue_1);
	height:60px;
	position:fixed;
	left:0;
	color:var(--light_blue_1);
}

#foot{
	bottom:0;
	width:100%;
	text-align:center;
}

#head{
	top:0;
	width:100%;
}