{% extends 'Templates/admin/admin_layout.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block main-area %}
<div class = "info-row text-center" style = "padding-top:60px;">
	<div class = "d_top" id = "post_count">
		<img src = "static/img/users.png">
		<p>Users</p>
	</div>

	<div class = "d_top" id = "users_count">
		<img src = "static/img/posts.png">
		<p>Blog Posts</p>
	</div>

	<div class = "d_top" id = "other_count">
		<img src = "static/img/uploads.png">
		<p>Uploads</p>
	</div>
</div>

<div class = "main-row text-center">
	<div>
		<h4>Recent Activities</h4>
		<hr>
	</div>

	<h5 align = "left">New Blog Posts</h5>

	{% foreach ($post_list as $post): %}
	<div align = "left" class = "box">
		<h3 style = "display:inline">{{ $post->title }}</h3>
		<section style = "display:inline;float:right;">
			<a class = "" href = "" style = ""><img src = "@php@echo root;@endphp@static/img/edit.png" style = "height:4vh"></a>
			<a class = "" href = "" style = ""><img src = "@php@echo root;@endphp@static/img/trash.png" style = "height:4vh"></a>
		</section>
	</div>
	{% endforeach; %}

	<hr>

	<h5 align = "left">Media Uploads</h5>

	<div align = "left" class = "box">
		<input type = "checkbox" value = "1" checked style = "display:inline;width:inherit;margin-bottom:0;">
		<h3 style = "display:inline">Media Title Goes Here</h3>
		<section style = "display:inline;float:right;">
			<button>View</button>
			<button>Delete</button>
		</section>
	</div>

	<hr>

	<h5 align = "left">Notifications</h5>

	<div align = "left" class = "box">
		<input type = "checkbox" value = "1" checked style = "display:inline;width:inherit;margin-bottom:0;">
		<h3 style = "display:inline">Notification goes here</h3>
		<section style = "display:inline;float:right;">
			<button>Read More</button>
			<button>Delete</button>
		</section>
	</div>

</div>
{% endblock %}


{% block scripts %}
{% endblock %}